.intro_container {
  margin: 275px 0 181px 0;
}
.maintext_intro {
  color: var(--text-icon-light-heading, #252525);
  /* Headings/H3/Regular */
  font-family: Outfit;
  font-size: 93px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 93px */
}

.subtext_intro {
  color: var(--greyscale-text-icon-title, #141415);
  /* Headings/H5/Medium */
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  margin-top: 40px;
  margin-bottom: 25px;
}

.subtext_text {
  color: var(--greyscale-text-icon-body, #4f5154);
  /* Body/TextL/Regular */
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}

.intro_btn {
  color: var(--text-icon-light-heading, #252525);
  /* Button/btn-text/Large/Regular */
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.44px;
  border-radius: 8px;
border: 1px solid var(--grey-1000, #252525);
  padding: 20px 30px 22px 30px;
  margin-top: 40px;
}
